<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title }}</title>
    <!-- vendor:css -->
    <link rel="stylesheet" href="/components/foundation/css/foundation.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{#if ENV_DEVELOPMENT}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </head>
  <body>
  <!--[if lte IE 9]>
    <div data-alert class="alert-box warning browsehappy"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><a href="#" class="close">&times;</a></div>
  <![endif]-->

    {{{body}}}

    <!-- vendor:js -->
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/fastclick/lib/fastclick.js"></script>
    <script src="/components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/components/foundation/js/foundation.js"></script>
    <script src="/components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="/components/modernizr/modernizr.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            $(document).foundation();
        }, false);
    </script>
    {{#if ENV_PRODUCTION}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44772557-3', 'auto');
      ga('send', 'pageview');
    </script>
    {{/if}}
  </body>
</html>
